{% extends "main.html" %}

{% block title %}关于我们{% end %}

{% block body %}
<section class="banner about">
    <div class="content">
        <div class="title">关于我们</div>
    </div>
</section>
<section id="about" class="wrap">
    <div class="content">
        <p>我们是一家致力于促进创新科技产品的服务型企业。我们通过提供一站式的软/硬件技术支持，使设计者能根据创意，简单快速地开发出产品原型。</p>
        <p>3年以来，我们不断加大技术和研发投入，努力优化供应链和销售渠道，使得企业的服务能力一直处于行业领先状态。此外，为鼓励民族自主创新精神，坚持不懈的努力为我们赢得了行业尊重和客户信任。目前，我们已经与众多设计者建立了紧密的合作关系，其中包括Google, MICROSOFT, MIT, NASA, MAKEZINE等知名企业和组织。</p>
        <p>在创新互助共赢的平台下，我们涉及新媒体艺术、嵌入式平台、物联网、智能家居、便携式仪器等领域。基于对行业的深厚理解，以及不断的自我完善，我们正加快步伐，为实现"以促进传播全民创新精神"的愿景目标而前进。</p>
        
    </div>
</section>
{% end %}
