{% extends "main.html" %}

{% block title %}合作商{% end %}

{% block body %}

<section class="banner partner">
    <div class="content">
        <div class="title">合作伙伴</div>
    </div>
</section>
<section id="partner" class="wrap">
    <div class="content">
        <div class="row">
            <div class="col-xs-12- col-sm-4 col-md-4">
                <div class="partner-box">
                    <div class="img">
                        <img src="{{ static_url("home/images/ADI.png") }}" class="img-responsive"/>
                    </div>
                    <div class="txt">
                        <h4>ADI<small>半导体公司</small></h4>
                        <p>ADI致力于让数字技术迈上新的台阶，帮助客户构建更安全的汽车、更快的网络、更绿色的能源、更完善的医疗体系、更智能的建筑和机器。</p>
                        <a href="###" class="btn btn-primary pull-right">
                            了解更多
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12- col-sm-4 col-md-4">
                <div class="partner-box">
                    <div class="img">
                        <img src="{{ static_url("home/images/arm.gif") }}" class="img-responsive"/>
                    </div>
                    <div class="txt">
                        <h4>ARM<small>半导体公司</small></h4>
                        <p>ARM Holdings 是全球领先的半导体知识产权 (IP) 提供商，并因此在数字电子产品的开发中处于核心地位。</p>
                        <a href="###" class="btn btn-primary pull-right">
                            了解更多
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12- col-sm-4 col-md-4">
                <div class="partner-box">
                    <div class="img">
                        <img src="{{ static_url("home/images/ti.png") }}" class="img-responsive"/>
                    </div>
                    <div class="txt">
                        <h4>TI<small>半导体公司</small></h4>
                        <p>德州仪器 (TI) 是一家跨国性的半导体设计与制造公司。 因具有 100,000+ 个以上模拟 IC 和嵌入式处理器而独树一帜、同时兼备软件、工具以及业界最大的销售团队/技术支持团队</p>
                        <a href="###" class="btn btn-primary pull-right">
                            了解更多
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12- col-sm-4 col-md-4">
                <div class="partner-box">
                    <div class="img">
                        <img src="{{ static_url("home/images/ADI.png") }}" class="img-responsive"/>
                    </div>
                    <div class="txt">
                        <h4>ADI<small>半导体公司</small></h4>
                        <p>ADI致力于让数字技术迈上新的台阶，帮助客户构建更安全的汽车、更快的网络、更绿色的能源、更完善的医疗体系、更智能的建筑和机器。</p>
                        <a href="###" class="btn btn-primary pull-right">
                            了解更多
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12- col-sm-4 col-md-4">
                <div class="partner-box">
                    <div class="img">
                        <img src="{{ static_url("home/images/arm.gif") }}" class="img-responsive"/>
                    </div>
                    <div class="txt">
                        <h4>ARM<small>半导体公司</small></h4>
                        <p>ARM Holdings 是全球领先的半导体知识产权 (IP) 提供商，并因此在数字电子产品的开发中处于核心地位。</p>
                        <a href="###" class="btn btn-primary pull-right">
                            了解更多
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12- col-sm-4 col-md-4">
                <div class="partner-box">
                    <div class="img">
                        <img src="{{ static_url("home/images/ti.png") }}" class="img-responsive"/>
                    </div>
                    <div class="txt">
                        <h4>TI<small>半导体公司</small></h4>
                        <p>德州仪器 (TI) 是一家跨国性的半导体设计与制造公司。 因具有 100,000+ 个以上模拟 IC 和嵌入式处理器而独树一帜、同时兼备软件、工具以及业界最大的销售团队/技术支持团队</p>
                        <a href="###" class="btn btn-primary pull-right">
                            了解更多
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}