<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/reset.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/text.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/fonts/ptsans/stylesheet.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/fluid.css") }}" media="screen" />

<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/mws.style.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/icons/icons.css") }}" media="screen" />

<!-- Demo and Plugin Stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/demo.css") }}" media="screen" />

<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/colorpicker/colorpicker.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/jimgareaselect/css/imgareaselect-default.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/fullcalendar/fullcalendar.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/fullcalendar/fullcalendar.print.css") }}" media="print" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/tipsy/tipsy.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/sourcerer/Sourcerer-1.2.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/jgrowl/jquery.jgrowl.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/plugins/spinner/spinner.css") }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/jui/jquery.ui.css") }}" media="screen" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="{{ static_url("admin/css/mws.theme.css") }}" media="screen" />

<!-- JavaScript Plugins -->

<script type="text/javascript" src="{{ static_url("admin/js/jquery-1.7.1.min.js") }}"></script>

<script type="text/javascript" src="{{ static_url("admin/plugins/jimgareaselect/jquery.imgareaselect.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/jquery.dualListBox-1.3.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/jgrowl/jquery.jgrowl.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/jquery.filestyle.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/fullcalendar/fullcalendar.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/jquery.dataTables.js") }}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ static_url("admin/plugins/flot/excanvas.min.js") }}"></script>
<![endif]-->
<script type="text/javascript" src="{{ static_url("admin/plugins/flot/jquery.flot.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/flot/jquery.flot.pie.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/flot/jquery.flot.stack.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/flot/jquery.flot.resize.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/colorpicker/colorpicker.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/tipsy/jquery.tipsy.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/sourcerer/Sourcerer-1.2.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/jquery.placeholder.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/jquery.validate.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/jquery.mousewheel.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/plugins/spinner/ui.spinner.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/js/jquery-ui.js") }}"></script>

<script type="text/javascript" src="{{ static_url("admin/js/mws.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/js/demo.js") }}"></script>
<script type="text/javascript" src="{{ static_url("admin/js/themer.js") }}"></script>

<title>{% block title %}{% end %}</title>

{% block javascript %}{% end %}

</head>

<body>

	{% block body %}{% end %}

</body>
</html>
