{% extends "frame.html" %}

{% block title %}站点设置{% end %}

{% block javascript %}
    <script type="text/javascript">
        function check_param(){
            var pass = $('input[name=password]').val()
            var ckpass = $('input[name=ckpass]').val()
            if( pass.length < 6 || pass.length > 30 ){
                alert('密码长度在6-30位之间');
                return false;
            }
            if( pass != ckpass ){
                alert('两次密码不一致');
                return false;
            }
            return true;
        }
    </script>
{% end %}

{% block body %}
<div class="container">
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-list">重置密码<input style="float:right; margin-right:20px;" type="button" onclick="javascript:history.go(-1);" value="返回上一页" class="mws-button grey small"></span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" method="post" onsubmit="return check_param()" action="/admin/act_reset">
                {% raw xsrf_form_html() %}
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label>用户名</label>
                        <div class="mws-form-item small">
                            <input type="text" name="username" value="{{ info['username'] }}" class="mws-textinput" disabled />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>新密码</label>
                        <div class="mws-form-item small">
                            <input type="password" name="password" class="mws-textinput" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>密码确认</label>
                        <div class="mws-form-item small">
                            <input type="password" name="ckpass" class="mws-textinput" />
                        </div>
                    </div>
                </div>
                <div class="mws-button-row">
                    <input type="submit" value="提交" class="mws-button green" />
                    <input type="reset" value="重置" class="mws-button black" />
                </div>
                <input type="hidden" name="id" value="{{ info['id'] }}">
                <input type="hidden" name="referer" value="{{ referer }}">
            </form>
        </div>      
    </div>
</div>

<!-- Footer -->
{% module admin_foot() %}
<!-- End Footer -->
{% end %}
